.container-fluid:before {
  display: table;
  content: "";
}

.main {
  background-color: #f8f6f7;
}

.side {
  background-color: #2aabd2;
}

/* ------article ------ */
.post {
  margin-bottom: 50px;
}
.post-title , .post-meta {
  text-align: left;
}

.post-meta {
  margin-top: 4px;
  margin-bottom: 10px;
  color: rgba(29, 30, 31, 0.56);
  font-size: 12px;
}
.post-meta span {
  margin-right: 4px;
}

.post-body-limited {
  max-height: 300px;
  overflow: hidden;
  text-overflow:ellipsis;
  word-wrap: break-word;
}